@import '@resources/css/scss/variable';
@import '@resources/css/scss/mixins';
.cat_Item {
  display: inline-flex;
  flex-direction: column;
  padding: 0;
  align-items: center;
}
.cat_Img {
  border-radius: rem(16px);
  min-width: rem(80px);
  height: rem(80px);
  object-fit: contain;
  object-position: center;
  margin-bottom: rem(4px);
}
.cat_Title {
  display: block;
  color: $black;
}
